- if Rails.env.production?
  :erb
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-4862463705347014";
      /* three_seas */
      google_ad_slot = "1713492350";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
- else
  %div{:style => 'width:728px;height:90px;background-color:lightgray;'}
&nbsp;
