%h1 FAQ

%h2 What was the Three Seas Forum?
%p The Three Seas forum was founded back in 2004 by a pair of friends to provide a place to discuss the then-fledgling Prince of Nothing series.

%h2 Why can't I post?
%p The original forum was taken down a couple years ago because of overwhelming spam attacks and a general drop in activity. What you're looking at here is the snapshot of the state of forum as of when it was pulled down (with a few edits...).

%h2 There's some garbled text in posts... what's with that?
%p Because the old forum ran the phpBB platform and used BBCode in its posts, but this version is a Ruby/Rails app, there are some formatting bugs. We're working on ironing it out. If you find anything grievous, send aengelas a message at the Second Apocalypse forum.


