%ul.breadcrumb
  %li
    = link_to @post.forum.name, @post.forum
    %span.divider >
  %li
    = link_to @post.topic.title, @post.topic
    %span.divider >
  %li.active= @post.subject

= render @post
