/*
$textColor: #858585;
$linkColor: $textColor;
$linkColorHover: $textColor;
*/

@import "bootstrap_and_overrides";

strong {
  &.highlight {
    color: $orange;
    font-size: 20px;
  }
}

.decorator {
  background-image: image-url('decorator.jpg');
  background-repeat: repeat-x;
  height: 30px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
